/* .MovieList-container {
    display: flex;
    justify-content: center;
}

.MovieList-menu li {
    float: left;
    position: relative;
    margin: 0px 30px 0px 0px;
    padding: 20px 0px 14px 0px;
}

.MovieList-a {
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #757575;
    font-weight: 500;
}

.MovieList-a:after {
    content: "";
    background: #f26b38;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    transition: all 250ms ease 0s;
    z-index: 5;
    transform: scaleX(0);  
}

.MovieList-a:hover:after, .MovieList-active.MovieList-a:after { 
    transform: scaleX(1); 
}
.MovieList-active {
    color: black;
} */