.Footer-container {
    /* background-color: #171717; */
    background-image: url('https://i.pinimg.com/originals/0e/60/68/0e6068eb08dddb94950bbb177abf1c52.jpg');
    display: flex;
    justify-content: center;
}

.Footer-letters {
    padding-top: 25px;
    padding-bottom: 65px;
    display: inline-block;
    text-align: center;
}

.Footer-letters h1 {
    padding: 0px;
    margin: 0px;
    color: #CE0E2D;
    font-size: 30px;
    font-weight: 800;
}

.Footer-cinema {
    font-weight: 600;
    letter-spacing: 1px;
}

.Footer-letters h2 {
    padding: 0px;
    margin: 0px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 4px;
}